/*=================================================*/
/*ANIMAÇÃO HOME*/
/*=================================================*/
.anim-one {
  animation-delay: 0s !important;
}

.anim-two {
  animation-delay: 0.5s !important;
}

.anim-three {
  animation-delay: 1s !important;
}

.anim-four {
  animation-delay: 1.5s !important;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.type {
  border-right: 2px solid transparent;
  white-space: nowrap;
  height: 25px;
  overflow: hidden;
  animation: blink-cursor 500ms infinite normal, typing 4s steps(45) 0s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-cursor {
  from {
    border-right-color: transparent;
  }

  to {
    border-right-color: white;
  }
}

.blink {
  animation: blink-anim 500ms infinite normal;
}

@keyframes blink-anim {
  to {
    opacity: 0%;
  }
  
}

.code-pink {
  color: #fb85e5;
}

.code-blue {
  color: #82feff;
}